
<% if (lastPage > 2) { %>

  <nav aria-label="References Pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="<%= '/references/?page=' + (currentPage - 1) %>">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="<%= '/references/?page=' + 1 %>"><%= 1 %></a>
      </li>
      <li>...</li>

      <% for(let p = Math.max(currentPage-3, 2);
             p <= (currentPage+3);
             p+=1) { %>
        <li class="<%= 'page-item' + ( p === currentPage ? ' active' : '') %>">
          <a class="page-link" href="<%= '/references/?page=' + p %>"><%= p %></a>
        </li>
      <% } %>

      <li>...</li>

      <li class="page-item">
        <a class="page-link" href="<%= '/references/?page=' + lastPage %>"><%= lastPage %></a>
      </li>
        <li class="page-item">
          <a class="page-link" href="<%= '/references/?page=' + (currentPage + 1) %>">Next</a>
        </li>

    </ul>
  </nav>
<% } else { %>
  <div>No pagination <%= lastPage %> </div>
<% } %>

