<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>

    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <% if (msg) { %>
        <div class="alert alert-primary">
          <%= msg %>
        </div>
      <% } %>

      <div class="row">
        <div class="col-8">
          <%- include("../components/referencesList.ejs", { references, currentPage, lastPage }) %>
        </div>
        <div class="col-4">
          <%- include("../components/formCreateReference.ejs") %>
        </div>
      </div>

    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
